server:
  port: 8081

spring:
  application:
    name: user-service

  config:
    import: configserver:${CONFIG_SERVER_URL:http://localhost:8071/}

  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: ${NEO4J_USERNAME:neo4j}
      password: ${NEO4J_PASSWORD:password}

  data:
    neo4j:
      repositories:
        type: auto