server:
  port: 8085

spring:
  application:
    name: minio-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5436/miniodb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

minio:
  url: ${MINIO_URL:http://localhost:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin123}
  bucket: ${MINIO_BUCKET:uploads}
  region: ${MINIO_REGION:us-east-1}
