server:
  port: 8082

spring:
  application:
    name: post-service

  grpc:
    server:
      port: 9090

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5434/postdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/social-media}
          jwk-set-uri: ${KEYCLOAK_JWK_URI:http://localhost:8180/realms/social-media/protocol/openid-connect/certs}

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
