server:
  port: 8082

spring:
  application:
    name: post-service

  grpc:
    server:
      port: 9090

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5434/postdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
