server:
  port: 8082

spring:
  application:
    name: post-service

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  grpc:
    server:
      port: ${POST_SERVICE_GRPC_PORT:9090}
    client:
      channels:
        user-service:
          address: ${USER_SERVICE_GRPC_HOST:localhost}:${USER_SERVICE_GRPC_PORT:9091}
        interaction-service:
          address: ${INTERACTION_SERVICE_GRPC_HOST:localhost}:${INTERACTION_SERVICE_GRPC_PORT:9092}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5434/postdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
